@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins',sans-serif;
}

.bg-white {
    background: #fff;
}

.border-none:focus {
    border: 0;
    outline: 0
}

/* #hidden {
    display: none;
    transition: all 0.7s;
}

#show {
    display: flex;
    transition: all 0.7s;
} */